<div class="footer">
  <div class="footer-links">
    <a href="http://funaiservicecorp.com/"><i class="fa fa-users">About us</i></a>
    <%= link_to funaiprivacy_path do %>
      <i class="fas fa-sticky-note">Privacy</i>
    <% end %>
    <a href="https://linkedin.com/company/funai-service-corporation" target="_blank"><i class="fab fa-linkedin">Linked in</i></a>
  </div>
  <div class="footer-copyright">
    &copy; Funai Service Corporation</a>
  </div>
</div>
