<%= content_for(:title) do %>
Funai - Wiki Page
<% end %>
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-3">
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"><span class="glyphicon glyphicon-folder-close">
                            </span>Warranty</a>
                        </h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse in">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-pencil text-primary"></span><a href="#Warrantyperiod">Warranty Period</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-flash text-success"></span><a href="#returnrequest">Request return</a>
                                    </td>
                                </tr>
                               <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-file text-info"></span><a href="#returnstatus">Return Approved or Denied</a>
                                    </td>
                                </tr>
                               <!--   <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-comment text-success"></span><a href="#">Comments</a>
                                        <span class="badge">42</span>
                                    </td>
                                </tr> -->
                            </table>
                        </div>
                    </div>
                </div>
                <!-- <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"><span class="glyphicon glyphicon-th">
                            </span>Requesting Return</a>
                        </h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">Orders</a> <span class="label label-success">$ 320</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Invoices</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Shipments</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Tex</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree"><span class="glyphicon glyphicon-user">
                            </span>Requesting Replacement Accessory</a>
                        </h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <a href="#">Change Password</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Notifications</a> <span class="label label-info">5</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <a href="#">Import/Export</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-trash text-danger"></span><a href="#" class="text-danger">
                                            Delete Account</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour"><span class="glyphicon glyphicon-file">
                            </span>How to contact us</a>
                        </h4>
                    </div>
                    <div id="collapseFour" class="panel-collapse collapse">
                        <div class="panel-body">
                            <table class="table">
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-usd"></span><a href="#">Sales</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-user"></span><a href="#">Customers</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-tasks"></span><a href="#">Products</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <span class="glyphicon glyphicon-shopping-cart"></span><a href="#">Shopping Cart</a>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
        <div class="col-sm-9 col-md-7">
          <div class="well">
            <h1>Funai Wiki page</h1>
              The guide for a Funai product
          </div>
          <div id="Warrantyperiod">
            <h3>Warranty</h3>
            <p>Warranty periods are based on the product type. The warranty period allows for a request for a product return, repair or replacement accessories.</p>
            <table>
              <tr>
                <td><h5>DVD or Soundbar:</h5><p>12 months from first lease date</p></td>
              </tr>
              <tr>
                <td><h5>TV size 19 ~ 30 inches:</h5><p>12 months from first lease date</p></td>
              </tr>
              <tr>
                <td><h5>TV size 32 ~ 75 inches:</h5><p>24 months from first lease date</p></td>
              </tr>
            </table>
            <h5>Concealed Damage claims</h5>
            <p>Claims are acceptable up to six months from the invoice date. We ask for photos for the claim. The required photos are the damaged area, barcode labels from the back or bottom of the item, all the original packing, and all sides of the original packaging. Once received we will review the claim.</p>
          </div>
          <h5>Replacement Accessories</h5>
          <p>If you received a defective accessory we ask you to submit a request and we will either USPS or FedEx a replacement. These are covered by the warranty period. If you need to purchase submit a request and we will quote the price, so you may issue a PO.</p>
      <div id="returnrequest">
        <h3>Request Return</h3>
          <p>On the main dashboard, you may click the link to create a return. Here you are required to enter the information from Funai Model, Return Reason and the Pickup address. Please watch our instructional video.</p>
          <%= cl_video_tag("videos/funai_return_create", :width => 600,
          :preload => "none", :controls => true,
          :fallback_content => "Your browser does not support HTML5 video tags" )
          %>
          <h5>How to update a return</h5>
          <p>Once a return has been submitted you may update the Funai Model, Return reason and Pick up address. You cannot update your item number, model number or a serial number of the product. If you need to correct one of those items, you will need to submit a request for Funai team to update it. Note once we assign the RMA number, shipping and or item has been denied is assigned you are no longer able to update. Please watch our instructional video.</p>
          <%= cl_video_tag("videos/funai_return_update", :width => 600,
          :preload => "none", :controls => true,
          :fallback_content => "Your browser does not support HTML5 video tags" )
          %>
          <h5>How to upload multiple photos</h5>
          <p>When you are creating or updating the return. Click on Choose Files, here you select all photos by holding down the shift key, and clicking on each photo you want to provide. Another way is to press and down your mouse and drag up on the photos. Note, if error on submission, you will need to select the photos again. Please watch our instructional video.</p>
          <%= cl_video_tag("videos/funai_return_photo", :width => 600,
          :preload => "none", :controls => true,
          :fallback_content => "Your browser does not support HTML5 video tags" )
          %>
      </div>
      <div id="returnstatus">
        <h3>Request Approve or Denied</h3>
        <p>Once the Funai Team has reviewed the request, you'll be updated on each status from once the RMA is assigned and then the shipping process. The claim may also be denied for a certain reason. After our review, you will be receiving an email notification.</p>
      </div>
    </div>
  </div>
</div>
