<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 30%), url('http://funaiservicecorp.com/assets/img/backgrounds/1.jpg');">
  <div class="banner-content">
    <h1>Funai Return Portal</h1>
    <!-- <p>Making returns easier to process.</p> -->
      <p>
        <span id="banner-typed-text"></span>
      </p>

    <%= link_to "Start Now", dashboard_path, class: "btn btn-primary" %>
  </div>
</div>
