<p>Funai team,</p>

<p>We have the following pending in Aaron's portal.
  <ul>
    <li>Pending approvals = <%= @return_pending %></li>
    <li>Pending FedEx Assignments = <%= @return_fedex %></li>
    <li>Pending LTL-TSG Assignments = <%= @return_tsg %></li>
  </ul>
</p>
Thank you for the attention Funai team,
