<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <h1>RMA Log</h1>
      <% @returns.each do |return_item| %>
        <strong><%= return_item.item_number %> <%= return_item.model_number %> <%= link_to "Show", return_path(return_item) %></strong></br>
      <% end %>
    </div>
  </div>
</div>

  <%= link_to "Dashboard", dashboard_path, class: "btn btn-primary" %>
