
.form-login {
  background: white;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px
  }
}

.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  .form-control {
    font-size: 16px;
    width: 112%;
    height: 27px;
    padding: 15px 30px;
  }
}
#return_comment {
  height: 100px;
}

#return_special_comments {
  height: 100px;
}

.flex-container-show {

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  p {
  font-size: 16px;
  }
}




