.flex-container {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -moz-flex;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.flex-item{
  // padding-right: 35px;
   flex: 1 100%;
}
.flex-item label {
    font-size: 16px;
}
.form-control { min-width: 0; }

.flex-item .form-control {
  font-size: 14px;
  width: 80%;
  height: 32px;
  margin-right: 99px;
  color: black;
}
.btn-section{
  margin-bottom: 15px;
}

#return_comment {
  height: 100px;
}

#return_special_comments {
  height: 100px;
}

#contactform_subject{
  width: 100%;
  height: 120px;
}

.check-box{
  margin-bottom: 15px;
}

.new_return{
    width: 75%;
  }
.edit_return{
  width: 75%;
}
#return_store_number{
  font-size: 14px;
  width: 80%;
  height: 32px;
  margin-right: 99px;
  color: black;
}
.autocomplete {
  /*the container must be positioned relative:*/
  position: relative;
  display: inline-block;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  width: 80%;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff;
  border-bottom: 1px solid #d4d4d4;
}

.autocomplete-items div:hover {
  /*when hovering an item:*/
  background-color: #e9e9e9;
}



@media only screen and (max-width: 600px) {

    .flex-item .form-control {
        width: 75%;
        padding-left: 45px;
        padding-right: 45px;
        margin: 30px 45px;
    }
}

