.flex-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  background: white;
  border-radius: 3px;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.1);
}
.flex-item{
  padding-right: 43px;
}
.flex-item label {
    font-size: 16px;
}

.flex-item .form-control {
  font-size: 14px;
  width: 100%;
  height: 32px;
  margin-right: 99px;
  color: black;
}

#return_comment {
  height: 100px;
}

#return_special_comments {
  height: 100px;
}

#contactform_subject{
  width: 100%;
  height: 120px;
}

@media only screen and (max-width: 600px) {

    .flex-item .form-control {
        width: 75%;
        padding-left: 45px;
        padding-right: 45px;
        margin: 30px 45px;
    }
}
